p {
  margin: 0;
}

table {
  margin-top: 24px;
  margin: 30px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

td {
  border: 1px solid #333;
}

.column {
  border-bottom: 2px solid #333;
}

.link {
  padding-top: 20px;
  padding-right: 20px;
  height: 80px;
  background-color: #A9A9A9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.output {
  margin: 0;
  height: 6000px;
  background-color: #A9A9A9;
}

.output p {
  text-align: center;
}

footer p {
 text-align: center;
}
